* {
  padding: 0;
  margin: 0;
}

.navbar-top {
  background-color: #217346;
  padding-right: 16px;
  padding-left: 16px;
}

.navbar-top-belt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.navbar-left-top-belt {
  display: flex;
  gap: 16px;
  color: white;
}

.navbar-right-top-belt {
  display: flex;
  gap: 16px;
  color: white;
}

.navbar-top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.navbar-top-banner ul {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-top-banner ul {
  color: white;
  font-size: 14px;
}

.ribbon {
  display: flex;
  gap: 18px;
  padding: 10px 14px;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  align-items: flex-start;
  font-family: sans-serif;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 14px;
  border-right: 1px solid #ddd;
  min-width: 90px;
}

.group:last-child {
  border-right: none;
}

.row {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 4px;
}

.row.big {
  justify-content: center;
  margin-bottom: 6px;
}

.group span {
  font-size: 10px;
  color: #555;
  margin-top: 3px;
}

/* Inputs */
select,
input {
  font-size: 12px;
  padding: 2px 4px;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: white;
}

/* Icons */
.row svg {
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
  transition: 0.15s;
}

.row svg:hover {
  background: #e4e4e4;
}

/* Style preview box */
.box {
  width: 60px;
  height: 40px;
  background: linear-gradient(to bottom, #ffffff, #e6e6e6);
  border: 1px solid #ccc;
  border-radius: 4px;
}